@model IEnumerable<AspNetMVC.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <form class="bottom-right">
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary pull-right">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info pull-right">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-warning pull-right">Delete</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
